<p>Web Srever Node JS</p>
<p>Hallo <%= nama %></p>

<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
    <p>Data Mahasiswa Kosong</p>
<% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama : <%= mhs.nama %></li>
            <li>Email: <%= mhs.email %>></li>
        </ul>
    <% }) %>
<% } %>
